.galeria{
    padding: $separacion5 0;

    h2{
        text-align: center;
    }
}

.galeria-imagenes{
    padding: 0;
    list-style: none;
    margin-top: $separacion5;
    @include grid(2, $separacion5);

    @include tablet{
        @include grid(4, $separacion5 / 2);
    }

    @include desktop{
        @include grid(6, $separacion5 / 2);
    }
}

.overlay{
    position: fixed;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    top: 0;
    display: grid;
    place-items: center;
}

.btn-cerrar{
    width: 5rem;
    height: 5rem;
    background-color: $rosa;
    color: $blanco;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-weight: $black;
    font-size: 3rem;

    &:hover{
        cursor: pointer;
    }
}